body {
  padding: 0;
  margin: 0;
  font-family: "Muller Medium";
  overflow: hidden;
  background-color: #f4faf8;
}

header {
	background-color: #f4faf8;
}
.lineTop {
	width: 100vw;
	height: 10px;
	background-color: #ba4c44;
	position: absolute;
}
.lineBottom {
	width: 100vw;
	height: 10px;
	background-color: #ba4c44;
	position: absolute;
	bottom: 0;
}
.lineLeft {
	width: 10px;
	height: 100vh;
	background-color: #ba4c44;
	position: absolute;
}
.lineRight {
	width: 10px;
	height: 100vh;
	margin-left: -10px;
	background-color: #ba4c44;
	position: absolute;
	right: 0;
}


.screen {
	text-transform: uppercase;
	text-align: center;
	background-color: #e7e7e8;
	height: auto;
}

.leftScr {
	padding-top: 15vh;
	position: relative;
	z-index: 100;
}

.leftScr_img{
	width: 70%;
	margin:0 auto ;
}

.easy {
	color: #525454;
	font-size: 25px;
	margin-top: 40px;
}

.daysN {
	color: #313333;
	font-size: 140px;
	font-weight: bold;
}
.days {
	color: #313333;
	font-size: 70px;
	font-weight: bold;
	    margin-top: -50px;
}

.firstV {
	width: 100vw;
	height: 100vh;
	background-image: url(../img/bg.png);
	background-color: #e7e7e8;
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
}


.links {
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	margin: 0 auto;
	text-align: center;
}

.links a {
	font-size: 25px;
	color: #272a2b;
}
.links a:hover {
	text-decoration: none;
	color: #82bb5d;
}

.ended p {
	font-size: 25px;
	color: #272a2b;
}

.cont{
	display: inline-block;
	width: 25%;
	padding-left: 40px;
	position: relative;
	text-align: left;
}
.icon{
	display: inline-block;
}

.icon::before{
	content: '';
	position: absolute;
	width: 33px;
	height: 33px;
	background-image: url(../img/icons.png);
	background-size: cover;
	background-repeat: no-repeat;
	left: 0;
}

.icon1::before{
	background-position: 0 0;
}
.icon2::before{
	background-position: -32px 0;
}
.icon3::before{
	background-position: -64px 0;
}
.icon4::before{
	background-position: -96px 0;
}


@media (max-width: 1581px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {

	body{
		overflow: scroll;
	}

	.firstV {
		width: auto;
		height: calc(100vh - 57px); //высота блока .links - 1 строка
		background-image: none;
		background-color: #f4faf8;
		background-size: 0%;
	}


	.leftScr {
		
	}

	.leftScr_img{
		width: 40%;
	}
	.easy {
		color: #525454;
		font-size: 25px;
		margin-top: 40px;
	}

	.daysN {
		color: #313333;
		font-size: 240px;
		font-weight: bold;
	}
	.days {
		color: #313333;
		font-size: 90px;
		font-weight: bold;
		margin-top: -50px;
	}

	.links {
		width: 100%;
		position: relative;
		bottom: 0;
		text-align: center;
	}

	.links a,
	.ended p {
		font-size: 20px;
	}
}

@media (max-width: 768px){

	.firstV {
		width: auto;
		height: calc(100vh - 163px); //высота блока .links - 2 строки
		background-image: none;
		background-color: #f4faf8;
	}
	.cont{
		width: 50%;
		text-align: center;
		margin-top:20px; 
	}

	.leftScr_img{
		width: 50%;
	}

	.links{
		padding-bottom: 30px;
	}

	.icon{
		position: relative;
	}

	.easy{
		font-size: 20px;
	}

	.icon::before{
		content: '';
		width: 40px;
		height: 40px;
		left: -50px;
	}

	.icon1::before{
		background-position: 2x 0;
	}
	.icon2::before{
		background-position: -39px 0;
	}
	.icon3::before{
		background-position: -78px 0;
	}
	.icon4::before{
		background-position: -118px 0;
	}
}

@media (max-width: 450px){

	.firstV {
		width: auto;
		height: calc(100vh - 279px); //высота блока .links - 4 строки
		background-image: none;
		background-color: #f4faf8;
	}
	.leftScr{
		padding-top: 10vh;
	}
	.cont{
		width: 100%;
		text-align: center;
		margin-top:20px; 
	}

	.leftScr_img{
		width: 70%;
	}
	.easy{
		font-size: 20px;
	}
}