.setBackgroundImage(@url, @backGround:transparent){
	background-image: url(@url);
	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	background-color: @backGround;
}

.setBackgroundWImg(){
	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	background-color: transparent;
}

.setBorder(@weight, @color, @radius){
	border: @weight solid @color;
	border-radius: @radius; 
}

.top(@parent, @operator:"-", @child){
	top: @parent;
	top: ~"calc(@{parent}"~"@{operator}"~"@{child})";
}
.bottom(@parent, @operator:"-", @child){
	bottom: @parent;
	bottom: ~"calc(@{parent}"~"@{operator}"~"@{child})";
}

.left(@parent, @operator:"-", @child, @default:@parent){
	left: @default;
	left: ~"calc(@{parent}"~"@{operator}"~"@{child})";
}

.right(@parent, @operator:"-", @child, @default:@parent){
	right: @default;
	right: ~"calc(@{parent}"~"@{operator}"~"@{child})";
}

.height(@parent, @operator:"-", @child){
	height: @parent;
	height: ~"calc(@{parent}"~"@{operator}"~"@{child})";
}

.transition(@target, @time, @type:linear){
	transition: @target @time @type;
}

.setButton (@text-color, @bg-color, @border-color, @text-color-h, @border-color-h, @bg-color-h){
	background-color: @bg-color;
	border: 2px solid @border-color;
	color: @text-color;
	transition: 0.2s cubic-bezier(0.1, -0.6, 0.2, 0), color 0.2s cubic-bezier(0.1, -0.6, 0.2, 0);

	&:hover,
	&:active,
	&:focus {
		background-color: @bg-color-h;
		color: @text-color-h;
		border: 2px solid  @border-color-h;
	}
}



