.slider{
	position: relative;
	// @media @tablet {
	// 	width: 90%;
	// 	width: ~"calc(100% - 50px)";
	// 	margin: 0 auto;
	// }
}

.slider__inner{
	position: relative;
	white-space: nowrap;
	overflow: hidden;
}

.slider__item{
	display: inline-block;
	vertical-align: top;
	transition: margin-left 0.3s linear;
}

.slider__img{
}

.slider__arrow{	
	width: 13px;
	height: 42px;
	position: absolute;
	.top(50%,-,21px);
	cursor: pointer;

}

.slider_arrow-left{
	.left(0%,-,25px,-7%);
	background-position: top;
}

.slider_arrow-right{
	.right(0%,-,25px,-7%);
	background-position: bottom;
}