/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.active {
  display: block !important;
}
.sub {
  background-color: #cbecec;
}
.sub-nav {
  background-color: #496b6b;
  text-align: center;
}
.sub-nav__btn {
  display: inline-block;
  margin: 2%;
  width: 23%;
  background-color: #4aa0a0;
  padding: 10px;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
}
.sub-cont {
  display: none;
  text-align: center;
}
.sub-cont__box {
  display: inline-block;
  margin: 2%;
  width: 25%;
  background-color: #4aa0a0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
}

.week {
  background-color: #e2d4a3;
}
.week-nav {
  padding: 20px;
  text-align: center;
}
.week-nav__btn {
  display: inline-block;
  margin-right: 10px;
  width: 100px;
  background-color: #ad5231;
  padding: 10px;
  text-align: center;
  line-height: 100%;
  cursor: pointer;
}
.week-cont {
  background-color: #c2ea92;
}
#wk-cnt-1 {
  background-color: #c1f1f3;
}
#wk-cnt-2 {
  background-color: #87c3c5;
}
#wk-cnt-3 {
  background-color: #47abaf;
}
.week-cont__box {
  display: none;
  padding: 15px;
  margin: 0 auto;
  width: 70%;
  min-height: 400px;
  background-color: #91c395;
  border: 1px solid black;
}
