.team-block{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
	@media @tablet{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
}

.team-block__item{
	width: 100%;
	max-width: 240px;
	margin-top: 65px;

	&:first-child{
		margin-top: 0px;
	}

	@media @tablet{
		width: 28.5%;
		margin-top: 0px;
	}

	@media @laptop{
			width: 25%;
	}

}

.team-block__img{
	display: block;
	margin: 0 auto;
	max-width: 240px;
	user-select: none;

	@media @tablet{
		width: 100%;
		max-width: 300px;
	}
}

.team-block__text{
	padding-top: 40px;
}

.team-block__img-l{
	width: 100%;

	@media @tablet{
		width: 80%;	
	}
}
.team-block__img-m{
	width: 100%;

	@media @tablet{
		width: 50%;	
	}
}
.team-block__img-s{
	width: 100%;

	@media @tablet{
		width: 30%;	
	}
}

.team-block__name{
	position: relative;	
	line-height: 24px;
	font-family: "Fira Sans Extra Condensed";
	font-size: 26px;
	font-weight: 400;
	color: @main-color;
	text-align: center;

	// &::before{
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	top: -80px;
	// 	left: -5px;

	// 	width: 31px;
	// 	height: 95px;
		
	// 	.setBackgroundImage(@round-arrow);

	// 	@media @tablet{
	// 		left: -32px;
	// 	}

	// 	@media @laptop{
	// 		left: -32px;
	// 	}
		
	// 	@media @laptopL {
	// 		left: -32px;
	// 	}
	// 	@media @4k {
	// 		left: -5px;
	// 	}	
	// } 
}


.team-block__name-1{}
.team-block__name-2{}
.team-block__name-3{}


/* Text style for "Мария Савв" */


/* Text style for "нутрициоло" */



.team-block__descript{
	color: #2d2d2d;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	line-height: 1.7;
	letter-spacing: 1px;
}

.team-block__descript-1{}
.team-block__descript-2{}
.team-block__descript-3{}

