.products,
.product,
.woocommerce .wrapper .woocommerce-breadcrumb,
.woocommerce-result-count {
    // font-size: 1.6em;
}

.products-cont {
    // max-width: 750px;
    margin: 30px auto;
    font-size: 1.6em;
    line-height: 1.8;
    padding: 0 15px;
}