/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "Lato";
  /* Имя шрифта */
  src: local("Lato"), url(../fonts/Lato-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Roboto+Condensed";
  /* Имя шрифта */
  src: local("Roboto+Condensed"), url(../fonts/RobotoCondensed-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Roboto";
  /* Имя шрифта */
  src: local("Roboto"), url(../fonts/Roboto-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Fira Sans Extra Condensed";
  /* Имя шрифта */
  src: local("Fira Sans Extra Condensed"), url(../fonts/FiraSansExtraCondensed-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
}
.disable {
  display: none !important;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 980px) {
  .wrapper {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1170px) {
  .wrapper {
    max-width: 1060px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    max-width: 1200px;
  }
}
.header_position {
  padding: 31px 3% 125px;
}
@media only screen and (min-width: 980px) {
  .header_position {
    padding: 31px 0% 125px;
  }
}
.header_background {
  background-image: url("../img/dsg/backgrounds/header-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.header_left-center {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.header-menu {
  text-align: right;
  position: relative;
}
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .header-title {
    width: auto;
    padding-top: 98px;
  }
}
.header__button-cnt {
  text-align: left;
  padding-top: 44px;
  user-select: none;
}
@media only screen and (min-width: 768px) {
  .header__button-cnt {
    text-align: center;
  }
}
.header__button-btn {
  width: 220px;
  height: 54px;
  line-height: 42px;
}
.menu {
  user-select: none;
  display: none;
}
@media only screen and (min-width: 768px) {
  .menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
}
.menu__item {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}
.menu__item:first-child {
  padding-left: 0;
}
.menu__item:last-child {
  padding-right: 0;
}
.menu__item::before {
  content: '';
  width: 0%;
  height: 3px;
  position: absolute;
  background-color: #6b9e3d;
  top: -31px;
  left: 0;
}
.menu__item:hover::before {
  width: 100%;
  transition: all 0.2s linear;
}
.menu__link {
  color: #3e3e3e;
  text-decoration: none;
  font-size: 1.6em;
}
.title-1 {
  display: inline-block;
  user-select: none;
}
.title-1__h1 {
  margin: 0;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #1c1c1c;
  font-family: 'Roboto+Condensed';
  line-height: 0.78;
  font-weight: bold;
  cursor: default;
  font-size: 3.7em;
}
@media only screen and (min-width: 768px) {
  .title-1__h1 {
    font-size: 7.4em;
  }
}
.title-1__img {
  width: auto;
  height: 138px;
  background-image: url("../img/dsg/logo-main.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-size: contain;
}
.title-2 {
  padding-top: 47px;
  user-select: none;
}
.title-2__h2 {
  margin: 0;
  color: #383838;
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;
  cursor: default;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .title-2__h2 {
    font-size: 1.4em;
  }
}
.title-3__h3 {
  font-size: 4.4em;
  line-height: 1;
  font-weight: 500;
  font-family: "Fira Sans Extra Condensed";
  user-select: none;
  cursor: default;
}
.title-3__h3_dark {
  color: #3d3d3d;
}
.title-3__h3_dark:before {
  background-color: #6b9e3d;
}
.title-3__h3_light {
  color: white;
}
.title-3__h3_light:before {
  background-color: white;
}
.hr-line {
  margin-bottom: 15px;
  position: relative;
}
.hr-line::before {
  content: '';
  width: 2em;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.button {
  display: inline-block;
  font-family: "Century Gothic";
  font-size: 1.6em;
  cursor: pointer;
  border: none;
  user-select: none;
  border-radius: 20px;
  text-transform: uppercase;
}
.button:focus {
  outline: none;
}
.button_filled {
  background-color: #6b9e3d;
  border: 0px solid transparent;
  color: white;
  transition: background-color 0.2s linear;
}
.button_filled:active,
.button_filled:hover {
  background-color: #5f8c36;
}
.button_bordered {
  background-color: transparent;
  border: 2px solid #6b9e3d;
  color: #6b9e3d;
  transition: background-color 0.2s cubic-bezier(0.1, -0.6, 0.2, 0), color 0.2s cubic-bezier(0.1, -0.6, 0.2, 0);
}
.button_bordered:active,
.button_bordered:hover {
  background-color: #6b9e3d;
  color: white;
}
.button_bordered-dark {
  background-color: transparent;
  border: 2px solid #272929;
  color: #272929;
  transition: background-color 0.2s cubic-bezier(0.1, -0.6, 0.2, 0), color 0.2s cubic-bezier(0.1, -0.6, 0.2, 0);
}
.button_bordered-dark:active,
.button_bordered-dark:hover {
  background-color: #6b9e3d;
  color: white;
  border: 2px solid #6b9e3d;
}
.brgr-menu {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 32px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .brgr-menu {
    display: none;
  }
}
.brgr-menu__stick {
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #6b9e3d;
  transition: all 0.1s linear;
}
@media only screen and (min-width: 768px) {
  .brgr-menu__stick {
    display: none;
  }
}
.stick-1 {
  top: 0;
  transform-origin: 0% 0% 0;
}
.stick-2 {
  top: 11px;
}
.stick-3 {
  top: 22px;
  transform-origin: 0% 100% 0;
}
.brgr-menu {
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  display: inline-block;
  width: 32px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .brgr-menu {
    display: none;
  }
}
.brgr-menu__stick {
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #6b9e3d;
  transition: all 0.1s linear;
}
@media only screen and (min-width: 768px) {
  .brgr-menu__stick {
    display: none;
  }
}
.stick-1 {
  top: 0;
  transform-origin: 0% 0% 0;
}
.stick-2 {
  top: 11px;
}
.stick-3 {
  top: 22px;
  transform-origin: 0% 100% 0;
}
.how-it-works_position {
  padding: 96px 3%;
}
@media only screen and (min-width: 980px) {
  .how-it-works_position {
    padding: 96px 0%;
  }
}
.how-it-works_title-3-position {
  padding-top: 105px;
}
.how-it-works_steps-pos {
  padding-top: 65px;
}
.descript {
  width: 78%;
  margin: 0 auto;
  color: #272929;
  line-height: 26px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.descript__highlited {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.steps {
  position: relative;
  padding: 85px 0;
}
.steps__item {
  position: absolute;
  color: #707070;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  user-select: none;
  cursor: default;
}
@media only screen and (min-width: 768px) {
  .steps__item {
    width: 31%;
  }
}
@media only screen and (min-width: 980px) {
  .steps__item {
    width: 23%;
  }
}
@media only screen and (min-width: 1170px) {
  .steps__item {
    width: 21%;
  }
}
.steps__item-1 {
  bottom: 0%;
}
@media only screen and (min-width: 768px) {
  .steps__item-1 {
    left: 1%;
  }
}
@media only screen and (min-width: 980px) {
  .steps__item-1 {
    left: 7%;
  }
}
.steps__item-2 {
  top: 0%;
}
@media only screen and (min-width: 768px) {
  .steps__item-2 {
    left: 23%;
  }
}
@media only screen and (min-width: 980px) {
  .steps__item-2 {
    left: 28%;
  }
}
.steps__item-3 {
  bottom: 0%;
}
@media only screen and (min-width: 768px) {
  .steps__item-3 {
    left: 45%;
  }
}
@media only screen and (min-width: 980px) {
  .steps__item-3 {
    left: 49%;
  }
}
.steps__item-4 {
  top: 0%;
}
@media only screen and (min-width: 768px) {
  .steps__item-4 {
    left: 68%;
  }
}
@media only screen and (min-width: 980px) {
  .steps__item-4 {
    left: 72%;
  }
}
.steps__img {
  display: block;
  width: 68.4%;
  margin: 0 auto;
  user-select: none;
  cursor: default;
}
.advantages_background {
  background-image: url("../img/dsg/backgrounds/advantages-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.advantages_position {
  padding: 55px 3% 90px;
}
@media only screen and (min-width: 980px) {
  .advantages_position {
    padding: 55px 0% 90px;
  }
}
.advantages_advantage-block-pos {
  padding-top: 45px;
}
@media only screen and (min-width: 768px) {
  .advantages_advantage-block-pos {
    padding-top: 95px;
  }
}
.advantage-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .advantage-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.advantage-block__item {
  width: 100%;
  padding-top: 200px;
  margin-top: 15px;
}
.advantage-block__item:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .advantage-block__item {
    width: 28.5%;
    margin-top: 0;
  }
}
@media only screen and (min-width: 980px) {
  .advantage-block__item {
    width: 23.5%;
  }
}
.advantage-block__descript {
  position: relative;
  color: #f0f5e9;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  width: 67%;
  margin: 0 auto;
  cursor: default;
}
@media only screen and (min-width: 768px) {
  .advantage-block__descript {
    width: 100%;
  }
}
.advantage-block__descript:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 140px;
  top: -165px;
  left: 0;
  right: 0;
  background-image: url("../img/dsg/backgrounds/advantage-item-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-size: contain;
}
@media only screen and (min-width: 768px) {
  .advantage-block__descript:before {
    top: -200px;
  }
}
.advantage-block__descript-1::before {
  height: 125px;
  top: -150px;
}
@media only screen and (min-width: 768px) {
  .advantage-block__descript-1::before {
    top: -185px;
  }
}
.advantage-block__descript-2::before {
  margin-left: 12px;
  background-image: url("../img/dsg/backgrounds/advantage-item-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-size: contain;
}
.advantage-block__descript-3::before {
  top: -170px;
  height: 150px;
  background-image: url("../img/dsg/backgrounds/advantage-item-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  background-size: contain;
}
@media only screen and (min-width: 768px) {
  .advantage-block__descript-3::before {
    top: -205px;
  }
}
.team-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .team-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.team-block__item {
  width: 100%;
  margin-top: 30px;
}
.team-block__item:first-child {
  margin-top: 0px;
}
@media only screen and (min-width: 768px) {
  .team-block__item {
    width: 28.5%;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 980px) {
  .team-block__item {
    width: 25%;
  }
}
.team-block__img {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  user-select: none;
}
@media only screen and (min-width: 768px) {
  .team-block__img {
    width: 100%;
    max-width: 300px;
  }
}
.team-block__text {
  padding-top: 30px;
}
.team-block__img-l {
  width: 80%;
}
.team-block__img-m {
  width: 50%;
}
.team-block__img-s {
  width: 30%;
}
.team-block__name {
  position: relative;
  line-height: 24px;
  font-family: "Fira Sans Extra Condensed";
  font-size: 26px;
  font-weight: 400;
  color: #6b9e3d;
  text-align: center;
}
/* Text style for "Мария Савв" */

/* Text style for "нутрициоло" */

.team-block__descript {
  color: #2d2d2d;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.our-team_position {
  padding: 110px 3%;
}
@media only screen and (min-width: 980px) {
  .our-team_position {
    padding: 110px 0%;
  }
}
.our-team_team-block-pos {
  padding-top: 45px;
}
@media only screen and (min-width: 768px) {
  .our-team_team-block-pos {
    padding-top: 95px;
  }
}
.tab-block__navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .tab-block__navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.tab-block__nav-button {
  width: auto;
  height: auto;
  cursor: pointer;
}
.tab-block__tab-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .tab-block__tab-item {
    flex-direction: row;
    align-items: flex-start;
  }
}
.subscribe_position {
  padding: 65px 3% 85px;
}
@media only screen and (min-width: 980px) {
  .subscribe_position {
    padding: 65px 0% 85px;
  }
}
.subscribe_background {
  background-color: #e9e9e9;
}
.subscribe_tab-block-pos {
  padding-top: 50px;
}
.subscribe__nav-button {
  min-width: 200px;
  margin-top: 10px;
  padding: 18px 0;
  border: 3px solid #6b9e3d;
  border-radius: 24px;
  color: #6b9e3d;
  font-size: 20px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .subscribe__nav-button {
    margin-top: 0;
    border-left: 2px solid #6b9e3d;
    border-right: none;
    border-radius: 0;
  }
}
.subscribe__nav-button:first-child {
  border-left: 3px solid #6b9e3d;
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .subscribe__nav-button:first-child {
    border-radius: 24px 0 0 24px;
  }
}
.subscribe__nav-button:last-child {
  border-right: 3px solid #6b9e3d;
}
@media only screen and (min-width: 768px) {
  .subscribe__nav-button:last-child {
    border-radius: 0 24px 24px 0;
  }
}
.subscribe__nav-button_active {
  background-color: #6b9e3d;
  color: white;
}
.subscribe_tabs-position {
  padding-top: 45px;
}
.subscribe__item {
  width: 90%;
  max-width: 350px;
  padding: 25px 30px;
  box-shadow: 0 9px 28px 1px rgba(0, 1, 3, 0.1);
  border-radius: 4px;
  background-color: white;
  margin-right: 0%;
  margin-top: 30px;
  cursor: pointer;
}
.subscribe__item:first-child {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .subscribe__item {
    margin-top: 0;
    margin-right: 4.7%;
  }
}
@media only screen and (min-width: 768px) {
  .subscribe__item-col-1 {
    width: 25%;
    margin-right: 0%;
  }
}
@media only screen and (min-width: 768px) {
  .subscribe__item-col-2 {
    width: 25%;
  }
  .subscribe__item-col-2:nth-child(2n) {
    margin-right: 0%;
  }
}
@media only screen and (min-width: 768px) {
  .subscribe__item-col-3 {
    width: 24.5%;
  }
  .subscribe__item-col-3:nth-child(3n) {
    margin-right: 0%;
  }
}
.subscribe__item-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #444444;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.875;
}
@media only screen and (min-width: 768px) {
  .subscribe__item-text {
    display: block;
    text-align: left;
  }
}
.subscribe__item-text-li {
  position: relative;
  margin-left: 10px;
}
.subscribe__item-text-li::before {
  content: "-";
  position: absolute;
  left: -16px;
}
.subscribe__button-cnt {
  padding-top: 55px;
  text-align: center;
  user-select: none;
}
.subscribe__button-btn {
  width: 100%;
  max-width: 200px;
  height: 45px;
}
.cuisine_background {
  background-image: url("../img/dsg/backgrounds/cuisine-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.cuisine_position {
  padding: 65px 3% 40px;
}
@media only screen and (min-width: 980px) {
  .cuisine_position {
    padding: 65px 0% 40px;
  }
}
.cuisine-block_position {
  padding-top: 60px;
  position: relative;
}
.cuisine-block__navigation_pos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
  background-color: white;
  box-shadow: -20px -21px 56px -12px rgba(0, 2, 4, 0.14);
}
@media only screen and (min-width: 980px) {
  .cuisine-block__navigation_pos {
    max-width: 725px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.cuisine-block__button {
  margin: 15px 0;
  color: #666565;
  font-size: 18px;
  line-height: 1.67;
}
.cuisine-block__button_active {
  color: #6b9e3d;
}
.cuisine__item {
  width: 95%;
  padding: 25px 10px 35px;
  background-color: white;
  box-shadow: 0 8px 29px 3px rgba(0, 2, 4, 0.14);
  border-radius: 4px;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  .cuisine__item {
    padding: 25px 50px 35px;
  }
}
@media only screen and (min-width: 980px) {
  .cuisine__item {
    width: 79%;
    max-width: 835px;
  }
}
.cuisine__item-text-cont {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .cuisine__item-text-cont {
    display: inline-block;
    width: 49%;
    min-height: 360px;
    vertical-align: top;
    padding-right: 10px;
    margin-top: 25px;
  }
}
.cuisine__item-text-menu,
.cuisine__item-text-calories {
  font-size: 18px;
  line-height: 1.44;
}
.cuisine__item-text-menu {
  list-style-type: decimal;
  margin-left: 20px;
}
.cuisine__item-text-calories {
  padding-top: 30px;
  text-align: center;
  position: static;
}
@media only screen and (min-width: 980px) {
  .cuisine__item-text-calories {
    text-align: left;
    position: absolute;
    bottom: 0;
  }
}
.cuisine__item-text-highlited {
  font-size: 26px;
  font-weight: 500;
  text-decoration: none;
}
.cuisine__item-img-cont {
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .cuisine__item-img-cont {
    min-height: 360px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
}
.tab-block__3-5-cuisines {
  position: absolute;
  top: 10px;
  left: calc(50% - 70px);
  text-align: center;
  font-size: 18px;
  line-height: 1.44;
  padding: 10px 0;
}
@media only screen and (min-width: 768px) {
  .tab-block__3-5-cuisines {
    top: 23%;
    right: 10%;
  }
}
.tab-block__3-cuisines {
  cursor: pointer;
}
.tab-block__5-cuisines {
  cursor: pointer;
}
.tab-block__3-5-cuisines_active {
  color: #6b9e3d;
}
.cuisine__item-img-block {
  max-width: 330px;
  max-height: 250px;
  margin: 0 auto;
  overflow: hidden;
}
.cuisine__item-img {
  width: 100%;
}
.cuisine__item-price-block {
  padding-top: 40px;
  text-align: center;
}
.cuisine__item-price-text {
  color: #6b9e3d;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: bold;
  line-height: 0.78;
}
.cuisine-notation_position {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 6px 6px;
  background-color: white;
  box-shadow: 0px 17px 29px -6px rgba(0, 2, 4, 0.14);
}
@media only screen and (min-width: 980px) {
  .cuisine-notation_position {
    max-width: 700px;
  }
}
.cuisine-notation {
  text-align: center;
  padding: 10px 5px;
  color: #2f2f2f;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.27;
}
@media only screen and (min-width: 425px) {
  .cuisine-notation {
    font-size: 22px;
  }
}
.reviews_position {
  padding: 80px 3% 40px;
}
@media only screen and (min-width: 980px) {
  .reviews_position {
    padding: 80px 0% 40px;
  }
}
.reviews_background {
  background-color: #e9e9e9;
}
.reviews-slider {
  padding-top: 55px;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}
.reviews-slider__item {
  margin-right: 3.125%;
  width: 31.25%;
  max-width: 300px;
}
.reviews-slider__img {
  width: 100%;
}
.reviews-slider__btn-nav {
  height: 12px;
  width: 96px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #6b9e3d;
}
.reviews-hashtag-block {
  padding: 35px 10px 0;
}
.reviews-hashtag-block__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 2.1;
  text-align: center;
  color: #333333;
}
.reviews-hashtag-block_link {
  text-decoration: none;
  color: #6b9e3d;
  padding-left: 5px;
  position: relative;
  padding-left: 30px;
}
.reviews-hashtag-block_link:hover {
  color: #84bc52;
}
.reviews-hashtag-block_link:hover::before {
  opacity: 0.85;
}
.reviews-hashtag-block_link::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: 5px;
}
.reviews-hashtag-block_link-vk::before {
  background-image: url("../img/dsg/hashtag-vk.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.reviews-hashtag-block_link-insta::before {
  background-image: url("../img/dsg/hashtag-insta.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.reviews-hashtag-block_link-fb::before {
  background-image: url("../img/dsg/hashtag-fb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.slider {
  position: relative;
}
.slider__inner {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.slider__item {
  display: inline-block;
  vertical-align: top;
  transition: margin-left 0.3s linear;
}
.slider__arrow {
  width: 13px;
  height: 42px;
  position: absolute;
  top: 50%;
  top: calc(50% - 21px);
  cursor: pointer;
}
.slider_arrow-left {
  left: -7%;
  left: calc(0% - 25px);
  background-position: top;
}
.slider_arrow-right {
  right: -7%;
  right: calc(0% - 25px);
  background-position: bottom;
}
.footer_position {
  padding: 110px 3% 125px;
}
@media only screen and (min-width: 980px) {
  .footer_position {
    padding: 110px 0% 125px;
  }
}
.footer-content {
  width: 100%;
  max-width: 725px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.footer-tagline-block {
  width: 100%;
  max-width: 260px;
}
.footer-tagline-block__img-cont {
  background-image: url("../img/dsg/logo-tagline.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.footer-tagline-block__text-cont {
  font-size: 24px;
  line-height: 1.33;
  font-family: "Fira Sans Extra Condensed";
  color: #161410;
}
.footer-contact-block {
  width: 100%;
  max-width: 240px;
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .footer-contact-block {
    padding-top: 0px;
  }
}
.footer-contact-block__text-cont {
  margin: 0 auto;
}
.footer-contact-block__text {
  text-align: center;
  color: #272929;
  font-size: 22px;
  font-weight: 500;
}
.footer-contact-block__link-cont {
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}
.footer-contact-block__link-1 {
  background-image: url("../img/dsg/hashtag-vk.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.footer-contact-block__link-2 {
  background-image: url("../img/dsg/hashtag-insta.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.footer-contact-block__link-3 {
  background-image: url("../img/dsg/hashtag-fb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}
.footer-contact-block__tel-cont {
  padding-top: 40px;
  margin: 0 auto;
}
.footer-contact-block__tel {
  color: #272929;
  font-size: 28px;
  font-weight: bold;
}
.footer-contact-block__btn-cont {
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
}
.footer-button-btn {
  width: 220px;
  height: 54px;
  line-height: 42px;
}
.tagline-block__img-cont {
  width: 260px;
  height: 154px;
  margin: 0 auto;
}
.tagline-block__text-cont {
  padding-top: 50px;
}
.tagline-block__text {
  text-align: center;
}
.contact-block__text {
  text-align: center;
}
.contact-block__link {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
}
.contact-block__link:last-child {
  margin-right: 0;
}
.contact-block__tel {
  text-align: center;
}
