@font-face {
  font-family: "Lato";
  /* Имя шрифта */
  src: local("Lato"), url(../../fonts/Lato-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Roboto+Condensed";
  /* Имя шрифта */
  src: local("Roboto+Condensed"), url(../../fonts/RobotoCondensed-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "Roboto+Condensed";
  /* Имя шрифта */
  src: local("Roboto+Condensed"), url(../../fonts/FiraSansExtraCondensed-Regular.ttf);
  /* Путь к файлу со шрифтом */
}
