.button{	
	display: inline-block;	
	font-family: "Century Gothic", sans-serif;
	font-size: @btn-font-size;
	cursor: pointer;
	border: none;
	user-select: none;
	border-radius: 20px;
	text-transform: uppercase;

	&:focus{
		outline: none;
	}
}

.button_filled {
	.setButton (#ffffff);	
}

.button_bordered{
	.setButton (@btn-background-color);
}

.button_bordered-dark{
	.setButton (#272929);
}




// .button_position-left{
	
// }
// .button_position-center{
	
// }
// .button_position-rigth{
	
// }