.desserts-drinks_position {
  padding: 40px 3% 30px;

  @media @laptop {
    padding: 90px 0 60px;
  }
}

.desserts-drink-content {
  padding-top: 20px;

  @media @tablet {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
}
.desserts-drinks__item {
  width: 45%;
  max-width: 460px;

  &:first-child {
    margin-right: 20px;
  }
}
.desserts-drinks__desserts-block {}
.desserts-drinks__drinks-block {}